<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>foodImgName</key>
		<string>food1</string>
		<key>foodNO</key>
		<string>01</string>
		<key>foodName</key>
		<string>老北京鸡肉卷套餐</string>
		<key>foodNumber</key>
		<string>0</string>
		<key>foodPrice</key>
		<string>20</string>
		<key>foodTotalPrice</key>
		<string>0</string>
		<key>resNO</key>
		<string>001</string>
	</dict>
	<dict>
		<key>foodImgName</key>
		<string>food2</string>
		<key>foodNO</key>
		<string>02</string>
		<key>foodName</key>
		<string>新奥尔良烤鸡腿堡</string>
		<key>foodNumber</key>
		<string>0</string>
		<key>foodPrice</key>
		<string>20</string>
		<key>foodTotalPrice</key>
		<string>0</string>
		<key>resNO</key>
		<string>001</string>
	</dict>
	<dict>
		<key>foodImgName</key>
		<string>food3</string>
		<key>foodNO</key>
		<string>03</string>
		<key>foodName</key>
		<string>川香双层鸡腿堡</string>
		<key>foodNumber</key>
		<string>0</string>
		<key>foodPrice</key>
		<string>20</string>
		<key>foodTotalPrice</key>
		<string>0</string>
		<key>resNO</key>
		<string>001</string>
	</dict>
	<dict>
		<key>foodImgName</key>
		<string>food4</string>
		<key>foodNO</key>
		<string>04</string>
		<key>foodName</key>
		<string>黑椒牛排套餐</string>
		<key>foodNumber</key>
		<string>0</string>
		<key>foodPrice</key>
		<string>20</string>
		<key>foodTotalPrice</key>
		<string>0</string>
		<key>resNO</key>
		<string>002</string>
	</dict>
	<dict>
		<key>foodImgName</key>
		<string>food5</string>
		<key>foodNO</key>
		<string>05</string>
		<key>foodName</key>
		<string>特惠经典全家餐</string>
		<key>foodNumber</key>
		<string>0</string>
		<key>foodPrice</key>
		<string>20</string>
		<key>foodTotalPrice</key>
		<string>0</string>
		<key>resNO</key>
		<string>002</string>
	</dict>
	<dict>
		<key>foodImgName</key>
		<string>food6</string>
		<key>foodNO</key>
		<string>06</string>
		<key>foodName</key>
		<string>外带全家桶</string>
		<key>foodNumber</key>
		<string>0</string>
		<key>foodPrice</key>
		<string>20</string>
		<key>foodTotalPrice</key>
		<string>0</string>
		<key>resNO</key>
		<string>002</string>
	</dict>
</array>
</plist>
